.git
.github
.env
.env.backup
.env.production
node_modules
vendor
npm-debug.log
composer.phar
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
Dockerfile
.dockerignore
docker
